<!--Caroline Casper
section
12-1-2025

p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2{ 
    text-align: center;
    color: rgba(255, 105, 238, 0.865);
    border: 5px solid rgb(0, 0, 0);
    padding: 10px;
    margin: 20px;
 }
 h1{
    color: rgba(255, 234, 215);
    font-size: medium;
 }
 body{
     background-color: rgb(255, 234, 215);
 }
.subheading{
    font-weight: bolder;
}
 .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    size: 400px;
  }
  .link {
      text-decoration: underline;
  }
  img {
      size:50%;
  }
  